.container
    .jumbotron
        h1 MultiVision
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, diam quis mattis maximus, magna metus cursus libero, ac gravida mi sem eget lorem. In convallis, augue id porttitor vulputate, dui risus fringilla tellus, vel luctus eros sapien vel augue.

    .row
        .col-md-6
            div(ng-include="'/partials/main/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/main/new-courses'")